@media (max-width: 767.98px) {
    .todolist {
        font-size: 0.9rem;
    }
}

@media (max-width: 575.98px) { 
    h4 {
        font-size: 1.2rem !important;
    }

    .todolist {
        font-size: 0.7rem;
    }

    .todolist__toolbuttons {
        button {
            margin-right: 10px;
        }
    }
}

@media (max-width: 350px) {
    .todolist {
        margin-top: 0;
    }
}