.todolist {
    margin: auto;
    margin-top: 4vw;
    max-width: 550px;
    background-color: #fff;
    color: white;
}

.totolist__deal-checkbox, .todolist__deal-delete {
    min-width: 25px;
    min-height: 25px;
}

.totolist__deal-checkbox, .todolist__deal-delete {
    width: inherit;
    height: inherit;;
}

.totolist__deal-checkbox {
    border-radius: 50%;
}

.todolist__content {
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    height: 355px;
    overflow-y: auto;
    overflow-x: hidden;
}

.todolist__content::-webkit-scrollbar {
    width:0px;
}

.todolist__deal {
    display: flex;
    align-items: center;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    /* animation-delay: 2s; */
}

.todolist__deal-display-none {
    display: none;
}

.totolist__deal-content{
    box-sizing: border-box;
    width: auto;
}

.todolist__toolbuttons {
    color: white;
    button {
        margin-right: 10px;
    }
    button:last-child{
        margin-right: 0;
    }
}

.todolist__toolbuttons-delete{
    width: 100px;
}

//анимации

.checked:hover{
    box-shadow: 0 0 5px#31FF31;
}

.unchecked:hover {
    box-shadow: 0 0 5px 0px #FF6A65;
}

.todolist__deal-delete:hover{
    cursor: pointer;
}

.totolist__deal-checkbox:hover {
    cursor: pointer;
}

.red-boxshadow {
    box-shadow: 0 3px 3px 2px #FF6A65 !important;
}

.toolbutton {
    outline: none !important;
    border: none;
}

.selected-toolbutton {
    border-color: #2DF145;
    background-color: #2DF145;
}

.todolist__toolbuttons-delete:hover {
    background-color: #FF5C56;
    border-color: #FF5C56;
}
